<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <nav class="menu">
                <a href="#" class="menu__link"></a>
                <a href="#" class="menu__link"></a>
            </nav>
            <div class="footer-address">
                <address class="footer-address__content">
                    <strong></strong>
                </address>
                <a href="#" class="footer-address__map"></a>
            </div>
            <div class="footer-numbers">
                <div class="footer-numbers__group">
                    <a href="#" class="footer-numbers__number"></a>
                    <a href="#" class="footer-numbers__number"></a>
                </div>
                <div class="footer-numbers__group">
                    <a href="#" class="footer-numbers__number"></a>
                    <a href="#" class="footer-numbers__number"></a>
                </div>
            </div>
            <div class="footer-data">
                <div class="footer-data__group">
                    <span class="footer-data__caption"></span>
                    <a href="#" class="footer-data__link"></a>
                </div>
                <div class="footer-data__group">
                    <span class="footer-data__caption"></span>
                    <a href="#" class="footer-data__link"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__rigth">
                <span class="footer-bottom__auto"></span>
                <span class="footer-bottom__politic"></span>
            </div>
            <a href="https://oxbox.ru/" class="develop">
                <span class="develop__text">Разработано в</span>
                <span class="develop__name">Oxbox</span>
                <span class="develop__logo"></span>
            </a>
        </div>
    </div>
</footer>

<script src="vendor/jquery/dist/jquery.min.js" inline></script>
<script src="vendor/lightgallery/dist/js/lightgallery.min.js" inline></script>
<script src="vendor/swiper/package/js/swiper.min.js" inline></script>
<script src="js/script.js$$version$$" inline></script>
</body>
</html>