.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
}

@media #{$sr-1300} {

    .container {
        max-width: 1300px;
        padding-left: 15px;
        padding-right: 15px;
    }
}