// @~ Media

$sr-1300: "screen and (max-width: 1300px)";

// @~ Colors

$black: #000;
$grey: #eee;

// @~ Fonts

$font: "", sans-serif, arial;

// @~ z-indexes: Example: z-index: z('moda');

$z-indexes: (
    'modal': 5000,
    'dwopdown': 2000,
    'default': 1,
    'below': -1
);

@function z($layer) {
    @return map-get($z-indexes, $layer);
}

// @~ Mixins

// ~ Example: @include images('url', cover, center, no-repeat);

@mixin images($url, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin flex_start() {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

@mixin flex_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin object() {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@mixin absolute() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}